.SignUp {
    background-color: #4512ab;
    @media screen and (min-width: 768px) {
        min-height: 680px;
        background-color: #4512ab;
    }
    .for-waves {
        background-color: white;
    }
    .container {
        .d-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            .left-content {
                @media screen and (max-width: 768px) {
                    display: none;
                }
                .airplane {
                    height: 61vh;
                    background: url("../../assets/images/plane.svg") center center no-repeat;
                    background-size: contain;
                }
                .air-icon {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .centered-icon {
                        width: 170px;
                        display: flex;
                        margin-left: 15px;
                        justify-content: space-between;
                        .icon-edit {
                            width: 35px;
                            height: 35px;
                            color: #c28be9;
                            transition: 0.5s;
                            &:hover {
                                color: #f8fbff;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title {
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    text-align: center;
                    margin-top: 100px;
                    font-family: "Futura PT Bold";
                    color: #f8fbff;
                    font-size: 36px;
                    @media screen and (max-width: 767px) {
                        font-size: 24px;
                        margin-top: 40px;
                    }
                }
                .registration {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    .items {
                        .item {
                            width: 100%;
                            height: 50px;
                            padding-left: 10px;
                            box-sizing: border-box;
                            border: 1px solid #ffffff;
                            border-radius: 10px;
                            outline: none;
                            background-color: transparent;
                            margin-bottom: 10px;
                        }
                    }
                    .form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        width: 300px;
                        background-color: transparent;
                        border-radius: 4px;
                        font-family: "Futura PT";
                        .inputWrapper {
                            position: relative;
                            width: 100%;
                            .error__message {
                                bottom: -5px;
                                position: absolute;
                                background-color: white;
                                border-radius: 4px;
                                padding: 0 5px;
                                color: red;
                                font-size: 12px;
                                text-align: left;
                                z-index: 5;
                                &:after {
                                    content: "";
                                    border-width: 8px;
                                    border-color: transparent;
                                    border-style: solid;
                                    border-top-color: white;
                                    border-left-color: white;
                                    position: absolute;
                                    right: 10%;
                                    transform: translate(0, -30%) rotate(45deg);
                                }
                            }
                            .form__email,
                            .form__phone,
                            .form__location,
                            .form__firstName,
                            .form__lastName {
                                width: 100%;
                                height: 50px;
                                font-size: 25px;
                                padding-left: 10px;
                                box-sizing: border-box;
                                border: 1px solid #ffffff;
                                border-radius: 10px;
                                outline: none;
                                background-color: transparent;
                                margin-bottom: 15px;
                                color: white;
                                &::placeholder {
                                    opacity: 0.6;
                                    color: #ffffff;
                                }
                            }
                        }
                        &__button {
                            width: 150px;
                            color: #fff;
                            background-color: transparent;
                            border: 1px solid #ffffff;
                            height: 40px;
                            font-family: "Futura PT Bold";
                            text-transform: uppercase;
                            outline: none;
                            border-radius: 10px;
                            cursor: pointer;
                            font-weight: bolder;
                            transition: 0.5s;
                            &:hover {
                                background-color: #6e5083;
                                transition: 0.5s;
                            }
                        }
                        .air-icon {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                        }
                        .centered-icon {
                            width: 50%;
                            display: inline-flex;
                            justify-content: space-around;
                            @media screen and (min-width: 769px) {
                                display: none;
                            }
                            .icon-edit {
                                width: 30px;
                                height: 30px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
