.Partners {
    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .partner {
            object-fit: contain;
            margin: 5px;
            width: 250px;
            height: 150px;
            border: 1px solid red;
            background: center center no-repeat;
            background-size: contain;
            @media screen and (max-width: 768px) {
                width: 165px;
                height: 75px;
            }
            @media screen and (max-width: 490px) {
                width: 110px;
                height: 50px;
            }
        }
    }
    .slick-dots {
        bottom: -100px;
        li {
            .changeBack {
                border-radius: 50%;
                transition: 0.8s;
                width: 20px;
                height: 20px;
                border: 2px gray solid;
            }
        }
        li.slick-active {
            width: 20px;
            height: 20px;
            .changeBack {
                border-radius: 50%;
                border: 2px gray solid;
                background-color: #3d1659;
                transition: 0.8s;
                width: 20px;
                height: 20px;
            }
        }
    }
}
