$textColor: #3d1659;
$bgColor: #f8fbff;
.AboutUs {
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
    .container {
        .wrapper {
            @media screen and (min-width: 768px) {
                min-height: 600px;
            }
            .title {
                text-align: center;
                margin-top: 20px;
                font-family: "Futura PT Bold";
                font-size: 48px;
                @media screen and (max-width: 768px) {
                    font-size: 36px;
                }
            }
            .contentRight {
                display: flex;
                justify-content: center;
                align-items: center;
                .text {
                    font-size: 22px;
                    color: #3d1659;
                }
            }
            .contentLeft {
                min-height: 400px;
                background: url("../../assets/images/About/About_ITCA.svg") center center no-repeat;
                background-size: 100% 100%;
                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
