$textColor: #3d1659;
$bgColor: #f8fbff;
.GrantProgram {
    .container {
        .wrapper {
            display: flex;
            @media screen and (min-width: 768px) {
                margin-bottom: 100px;
            }
            .titleTop {
                text-align: center;
                margin: 50px 0 100px 0;
                font-family: "Futura PT Bold";
                font-size: 48px;
            }
            .contentRight {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                .text {
                    font-size: 22px;
                    color: #3d1659;
                    margin-bottom: 20px;
                }
            }
            .contentLeft {
                background: url("../../assets/images/illustrations/grantProgram_1.png") left bottom no-repeat;
                background-size: 100% 100%;
                margin-bottom: 20px;
                min-height: 200px;

                @media screen and (min-width: 768px) {
                    min-height: 400px;
                }
            }
            .titleBottom {
                text-align: center;
                font-family: "Futura PT Bold";
                font-size: 36px;
                @media screen and (min-width: 768px) {
                    margin-top: 180px;
                    margin-bottom: 100px;
                }
            }
            .contentRightPartisipation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .text {
                    font-size: 22px;
                    color: #3d1659;
                    margin-bottom: 20px;
                }
                .registrationButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;
                    border: 1px solid #3d1659;
                    width: 150px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: transparent;
                    margin-top: 40px;
                    @media screen and (min-width: 768px) {
                        margin-top: 100px;
                    }

                    &:hover {
                        background-color: #3d1659;
                    }
                    &:hover .registrationLink {
                        color: #f8fbff;
                    }
                    .registrationLink {
                        color: #3d1659;
                        text-decoration: none;
                        font-family: "Futura PT Bold";
                        text-transform: uppercase;
                        outline: none;
                        cursor: pointer;
                        font-weight: bolder;
                    }
                }
            }
            .contentLeftPartisipation {
                background: url("../../assets/images/illustrations/grantProgram_2.png") left bottom no-repeat;
                background-size: 100% 100%;
                min-height: 200px;
                margin-bottom: 20px;
            }
        }
    }
}
