.ProgramPlan {
    padding: 20px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            text-align: center;
            margin: 50px 0;
            font-family: "Futura PT Bold", sans-serif;
            font-size: 36px;
            @media screen and (min-width: 767px) {
                font-size: 48px;
            }
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media screen and(max-width:991px) {
                justify-content: space-around;
            }
        }
        .teachersTitle {
            text-align: center;
            font-family: "Futura PT Bold", sans-serif;
            font-size: 24px;
            margin-bottom: 40px;
            @media screen and (min-width: 767px) {
                font-size: 36px;
            }
        }
        .teachers {
            text-align: center;
            .teacher {
                margin-bottom: 20px;
                .name {
                    margin: 20px 0;
                }
                .teacherImage {
                    height: 300px;
                    width: 100%;
                    // border-radius: 50%;
                    object-fit: contain;
                }
            }
        }
    }
}
