.ProgramPlan {
    padding: 20px 0;
    // background: url("../../assets/images/illustrations/bg-6.svg") top center no-repeat;
    background-size: 80%;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            text-align: center;
            margin: 50px 0;
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media screen and(max-width:991px) {
                justify-content: space-around;
            }
            .item {
                width: 300px;
                min-height: 200px;
                margin-bottom: 10px;
                background-color: #f8fbff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        .teachers {
            text-align: center;
            margin-bottom: 50px;
            .teacher {
                margin-bottom: 20px;

                .name {
                    margin: 20px 0;
                }

                .teacherImage {
                    // width: 90%;
                    height: 300px;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }
        }
    }
}
