$textColor: #3d1659;
$bgColor: #f8fbff;
.Header {
    background: url("../../assets/images/Hero/Treee_Man_Hero.svg") right top no-repeat,
        url("../../assets/images/Hero/Moon.svg") left -7% no-repeat,
        url("../../assets/images/Hero/Hero\ Composition.svg") right top no-repeat;
    background-size: auto 300px, 100px, contain;
    @media screen and (min-width: 426px) {
        background: url("../../assets/images/Hero/Treee_Man_Hero.svg") right top no-repeat,
            url("../../assets/images/Hero/Moon.svg") center -10% no-repeat,
            url("../../assets/images/Hero/Hero\ Composition.svg") right -50px no-repeat;
        background-size: 300px, 150px, 500px;
    }
    @media screen and (min-width: 768px) {
        background: url("../../assets/images/Hero/Treee_Man_Hero.svg") right top no-repeat,
            url("../../assets/images/Hero/Moon.svg") center -10% no-repeat,
            url("../../assets/images/Hero/Hero\ Composition.svg") right -90px no-repeat;
        background-size: 300px, 150px, 650px;
    }
    @media screen and (min-width: 992px) {
        padding-top: 40px;
        padding-bottom: 40px;
        background: url("../../assets/images/Hero/Treee_Man_Hero.svg") right 13% no-repeat,
            url("../../assets/images/Hero/Moon.svg") 70% 20% no-repeat,
            url("../../assets/images/Hero/Hero\ Composition.svg") right top no-repeat;
        background-size: auto, auto, 780px;
    }
    .container {
        .wrapper {
            display: flex;
            justify-content: space-between;
            @media screen and (min-width: 992px) {
                margin-top: 80px;
                margin-bottom: 40px;
                min-height: 600px;
            }
            .contentLeft {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 50px 0;
                @media screen and (min-width: 992px) {
                    justify-content: flex-end;
                }
                .title {
                    text-transform: capitalize;
                    font-family: "Futura PT Bold", sans-serif;
                    font-size: 36px;
                    @media screen and (min-width: 767px) {
                        font-size: 48px;
                    }
                }
                .text {
                    font-size: 22px;
                    color: #3d1659;
                    margin-bottom: 20px;
                }
                .registrationButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-end;
                    border: 1px solid #3d1659;
                    width: 150px;
                    height: 40px;
                    border-radius: 10px;
                    margin-bottom: 40px;
                    background-color: transparent;
                    @media screen and (min-width: 992px) {
                        margin-bottom: 100px;
                    }
                    &:hover {
                        background-color: #3d1659;
                    }
                    &:hover .registrationLink {
                        color: #f8fbff;
                    }
                    .registrationLink {
                        color: #3d1659;
                        text-decoration: none;
                        font-family: "Futura PT Bold", sans-serif;
                        text-transform: uppercase;
                        outline: none;
                        cursor: pointer;
                        font-weight: bolder;
                    }
                }
            }
            .contentRight {
                min-height: 300px;
            }
        }
        .partnersTitle {
            text-align: center;
            margin-bottom: 20px;
            font-family: "Futura PT Bold", sans-serif;
            font-size: 24px;
            @media screen and (min-width: 767px) {
                font-size: 36px;
            }
        }
    }
}
