.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px 1px rgba(61, 22, 89, 0.2);
    width: 100%;
    z-index: 10;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    @media screen and (max-width: 981px) {
        visibility: hidden;
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            display: flex;
            align-items: center;
            .langButtons {
                display: flex;
                font-size: 22px;
                margin-left: 30px;
                .button {
                    cursor: pointer;
                }
                .active {
                    font-family: "Futura PT Bold";
                }
            }
        }

        .items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item {
                margin: 0 20px;
                color: #3d1659;

                .itemLink {
                    color: #3d1659;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    cursor: pointer;
                    &:hover {
                        border-bottom: 2px solid #3d1659;
                    }
                }
                .active {
                    color: red;
                    border-bottom: 2px solid #3d1659;
                }
            }
        }
    }
}
