$textColor: #3d1659;
$bgColor: #f8fbff;

.Courses {
    min-height: 400px;
    .wrapper {
        .sectionTitle {
            text-align: center;
            margin: 50px 0;
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item {
                border: 1px solid;
                border-radius: 10px;
                width: 300px;
                margin-bottom: 20px;
                box-sizing: border-box;
                .title {
                    font-size: 24px;
                    font-family: "Futura PT Bold";
                    margin: 20px 0 30px 10px;
                }
                .start {
                    margin: 20px 0 30px 10px;
                    font-size: 20px;
                }
                .text {
                    margin: 10px 0 10px 10px;
                    font-size: 18px;
                    .courseIcon {
                        margin-right: 10px;
                        color: red;
                    }
                }
                .price {
                    margin: 20px 0 20px 10px;
                    font-size: 20px;
                    font-family: "Futura PT Bold";
                    .courseIcon {
                        margin-right: 10px;
                        color: red;
                    }
                }
                .button {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    border-radius: 8px;
                    background-color: $textColor;
                    box-sizing: border-box;
                    font-size: 18px;
                    &:hover {
                        background-color: $bgColor;
                    }
                    &:hover .link {
                        color: $textColor;
                    }

                    .link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $bgColor;
                        text-decoration: none;
                        width: 100%;
                        height: 60px;
                        border-radius: 8px;
                        border: 1px solid $textColor;
                    }
                }
                .disabled {
                    background-color: black;
                    &:hover {
                        background-color: black;
                    }
                    &:hover .link {
                        color: $bgColor;
                        cursor: no-drop;
                    }
                }
            }
        }
    }
}
