$textColor: #3d1659;
$bgColor: #f8fbff;

.Footer {
    padding-top: 40px;
    .wrapper {
        align-items: center;
        margin-bottom: 20px;
        .footerLogo {
            color: #3d1659;
            margin-top: 20px;

            img {
                color: #3d1659;
            }
        }
        .socials {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            margin-top: 20px;

            .socialItem {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #3d1659;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                transition: background-color 0.5s;

                &:hover {
                    background-color: #f8fbff;
                    border: 1px solid #3d1659;
                }
                &:hover .socialIcon {
                    color: #3d1659;
                }
                .socialLink {
                    color: #f8fbff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .socialIcon {
                        width: 25px;
                        height: 25px;
                        transition: color 0.5s;
                    }
                }
            }
        }
    }
    .infoOnline {
        font-size: 18px;
        color: #3d1659;
        margin-bottom: 20px;
        .phone {
            .phoneLink {
                text-decoration: none;
            }
        }
    }
    .info {
        font-size: 18px;
        color: #3d1659;
        margin-bottom: 20px;
        .phone {
            .phoneLink {
                text-decoration: none;
            }
        }
    }
    .bottomBar {
        background-color: #3d1659;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f8fbff;
        .copyright {
            margin: 10px;
        }
    }
}
