$textColor: #3d1659;
$bgColor: #f8fbff;

.Footer {
    padding: 40px 0;
    .wrapper {
        // justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        .footerLogo {
            color: #3d1659;
            margin-top: 20px;

            img {
                color: #3d1659;
            }
        }
        .socials {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            margin-top: 20px;

            .socialItem {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #3d1659;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                &:hover {
                    background-color: #f8fbff;
                    border: 1px solid #3d1659;
                }
                &:hover .socialIcon {
                    color: #3d1659;
                }
                .socialLink {
                    color: #f8fbff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .socialIcon {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    .infoOnline {
        font-size: 18px;
        color: #3d1659;
        margin-bottom: 20px;
    }
    .info {
        // text-align: end;
        font-size: 18px;
        color: #3d1659;
        margin-bottom: 20px;
    }
}
