$textColor: #3d1659;
$bgColor: #f8fbff;
.App {
    font-family: "Futura PT", sans-serif;
    .icon {
        position: -webkit-sticky;
        position: sticky;
        top: 85%;
        margin-left: 15px;
        width: 60px;
        height: 60px;
        color: rgba(204, 78, 128, 1);
        cursor: pointer;
        z-index: 50;
    }
}
